doctype html
html
    title Express Todo
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheet/main.css')
body
    block content